# General C++ exclusion
*.o
*.so

# General Python exclusion
*.pyc
**/*.aux
**/*.exe
__pycache__
**/__pycache__/**

# Swap files
*.swp

# General data file exclusions
*.txt
*.root
*.log
lib/*
*.txt
*.pdf
data/**

# CMake/compilation related
Makefile
*.cmake
CMakeFiles/**
*/CMakeFiles/**
build/**

# Editing related
.vscode/**

# For nodeJS related stuff
node_modules
server/templates/playground.html
package-lock.json

# inclusive directories
!CMakeLists.txt
!dofiles/*.txt
!*.rules
!requirements.txt

# Doxygen related
docs/html
docs/style.css
docs/style.css.map
