# General C++ exclusion
*.o
*.so

# General Python exclusion
*.pyc
**/*.aux

# Swap files
*.swp

# General data file exclusions
*.txt
*.root
*.log
lib/*
*.txt
Makefile
__pycache__
**/__pycache__/**
*.cmake
CMakeFiles/**
*/CMakeFiles/**
build/**
.vscode/**
**/*.exe
*.pdf
data/**

# inclusive directories
!CMakeLists.txt
!dofiles/*.txt
