{% from 'macros/settings.html' import image_settings with context %}
{% from 'macros/headers.html' import headers with context %}

{% from 'macros/monitor.html' import status_tab with context %}
{% from 'macros/monitor.html' import temperature_tab with context %}
{% from 'macros/monitor.html' import voltage_tab with context %}
{% from 'macros/monitor.html' import visual_tab with context %}
{% from 'macros/monitor.html' import gantry_tab with context %}

{% from 'macros/settings.html' import image_settings with context %}
{% from 'macros/settings.html' import picoscope_settings with context %}
{% from 'macros/settings.html' import drs_settings with context %}

{% from 'macros/actions.html' import user_action with context %}
{% from 'macros/actions.html' import terminal_control_tab with context %}

<!DOCTYPE html>
<html>

<head>
  <title>UMD SIPM Calib - Debugging GUI</title>

  {{ headers() }}

  <!--Custom Javascript specific for this page-->
  <script src="{{url_for('static',filename='js/main.js')}}"></script>
</head>

<body>

  <button id="monitor-column-toggle">M</button>
  <button id="action-column-toggle">A</button>

  <div id="monitor-column">
    <h2>Monitoring</h2>

    {{ status_tab() }}
    {{ temperature_tab() }}
    {{ voltage_tab() }}
    {{ visual_tab() }}
    {{ gantry_tab() }}
  </div>
  <!--End of monitor column-->

  <div id="action-column">
    <h2>Calibration Actions</h2>

    <!--Defined in macros/actions.html-->
    {{ user_action() }}

    <!--Defined in macros/settings.html-->
    {{ image_settings() }}
    {{ picoscope_settings() }}
    {{ drs_settings() }}
  </div>

  <!-- Unique column for each object.-->
  <div id="session-column">
    <span class="column-title">
      <i class="fa fa=fa-angle-left"></i>
      <h2>Debugging Session controls</h2>
      <i class="fa fa=fa-angle-right"></i>
    </span>

    <div class="tab">
      <div class="tab-title">
        <span>Command progress</span>
        <i class="fa fa=fa-angle-left"></i>
      </div>
      <div class="tab-content">
        <div class="column-container">
          <div class="column">
            <div class="input-align">
              <div class="input-row">
                <span class="input-name">Session type</span>
                <div class="input-units" id="session-type-text"></div>
              </div>
              <div class="input-row" id="bar-container">
                <div class="input-name"></div>
                <div>
                  <div class="legend" style="width:300px">
                    <div class="progress-pending" style="width:25%;">Pending</div>
                    <div class="progress-complete" style="width:25%;">Complete</div>
                    <div class="progress-running" style="width:25%;">Running</div>
                    <div class="progress-error" style="width:25%;">Error</div>
                  </div>
                </div>
              </div>
              <div class="input-row">
                <span class="input-name">Command progress</span>
                <div class="input-units">
                  <div class="progress-bar-container" id="command-progress">
                    <div class="progress-complete" style="width:50%"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div>Command log:</div>
            <div id="command-output-log"></div>
          </div>
        </div>
      </div>
    </div>

    <!--Adding a second visual tab with large image for ease of debugging-->
    {{ visual_tab() }}

    <div class="tab">
      <div class="tab-title">
        <span>Debug plotting</span>
        <i class="fa fa=fa-angle-left"></i>
      </div>
      <div class="tab-content">
        <div class="column-container">
          <div class="column">
            <div class="input-align">
              <div class="input-row">
                <span class="input-name">data file</span>
                <span></span>
                <!--For alignment-->
                <span class="input-units">
                  <input type="text" style="width:25em;" id="debug-plot-file" value="" />
                </span>
              </div>
              <div class="input-row">
                <span class="input-name">Plot type</span>
                <input type="radio" id="xyz" name="debug-plot-type" value="xyz" />
                <span class="input-units">
                  <label for="xyz">x-y-z Heat map</label>
                </span>
              </div>
              <div class="input-row">
                <span class="input-name"></span>
                <input type="radio" id="hist" name="debug-plot-type" value="hist" />
                <span class="input-units">
                  <label for="hist">Histogram</label>
                </span>
              </div>
              <div class="input-row">
                <span class="input-name"></span>
                <input type="radio" id="zscan" name="debug-plot-type" value="zscan" />
                <span class="input-units">
                  <label for="zscan">z-scan</label>
                </span>
              </div>
              <div class="input-row">
                <span class="input-name"></span>
                <input type="radio" id="tscan" name="debug-plot-type" value="tscan" />
                <span class="input-units">
                  <label for="tscan">time scan</label>
                </span>
              </div>
            </div>


            <div class="button-container">
              <button id="debug-request-plot">
                Request plot
              </button>
            </div>

          </div>
          <div class="column">
            <div id="debug-plot-div">
            </div>
          </div>
        </div>
      </div>
    </div>

</body>

</html>