/**
 * Default background color is a light gray to make reading easier on the eye
 */
$default_background: #f8f8f8;

/**
 * The monitor and action columns will have a dark gray headers with white font
 * for the headers. The content will have a white (light gray) background and
 * black text. For the default text.
 */
#monitor-column {
  background-color:	#303030;
  h2{
    color: white;
  }

  .tab {
    .tab-title{
      color: white;
    }
    .tab-content {
      background-color: $default_background;
      color: black;
    }
  }
}

#action-column{
  background-color: #303030;
  h2{
    color:white;
  }

  .tab-content{
    background-color: $default_background;
    color:black;
  }
  .tab.user-action{
    .tab-title{
      color:white;
    }
  }
  .tab.expert-action {
    .tab-title {
      color: darken($default_background, 30);
    }
  }
  // Special case for the user ACTION part, making it read to make sure it stands
  // out
  #user-action {
    background-color: darkred;
    .tab-title{
      color:white;
    }
    .tab-content{
      background-color:lightpink;
      color:black;
    }
  }
}

/**
 * The session column will have a light grey header for the background. Font
 * should default to black when ever possible.
 */
#session-column {
  background-color:lightslategray;
  h2{
    color: black;
  }

  .tab {
    .tab-title{
      color:black;
    }
    .tab-content{
      background-color: $default_background;
      color:black;
    }
    //Special case for user action part
    .tab-content#user-action-content{
      background-color: lighten(red, 20);
      color:black;
    }
  }

  .plot {
    border-color: orangered;
    border-width: 2px;
    border-style: solid;
  }

}

/**
 * addition specific element coloring
 */
#visual-tab{
  .tooltip-content{
    background-color: rgba(#303030,20);
    .vis_failratio{ color: white;}
    .vis_faillumi{ color: #64ff64;}
    .vis_failploy{ color: #ffff64;}
    .vis_failsize{ color: #64ffff;}
    .vis_found{ color: #ff6464;}
  }
}



/**
 *
 */

.det-progress-legend{
  background-image: linear-gradient(to right, #C8FFC8, #00FF00);
}


.progress-error {
  background-color: #FF0000;
}

.progress-complete {
  background-color:#00FF00;
}

.progress-running {
  background-color: yellow;
}

div#tile-layout-grid {
  div {
    background-color: #64FF64;
  }
}

