/**
 * The monitor column designed as a push-out side navigation bar that is
 * displayed by default. The width will be fixed at 400px;
 * For the color design, see the color.scss file.
 * Reference: https://www.w3schools.com/howto/howto_js_sidenav.asp
 */
#monitor-column {
  height: 100%; // span the entire left portion of screen.
  position: fixed;
  left: 0px;
  top: 0px;
  width: 400px;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 300ms;
  h2 {
    width: 100%;
    text-align: left;
    padding-left: 0.2em;
  }
}

/**
 * The session column will be a simple float that is oriented towards the top
 * left of the screen. Here we will require a minimum width of 1000 pixels. Here
 * we are hard coding the left margin to match the monitor column
 */
#session-column {
  position: absolute;
  min-width: 1000px;
  // width: 100%;
  margin-left: 400px;
  margin-right: 0px;
  width: auto;
  top: 0px;
  transition: 300ms;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: -1000;
  h2 {
    width: 100%;
    text-align: center;
  }
}

/**
 * Action column will be overlay slide menu on the right hand side. By default it
 * will be hidden. And a extra button is required to show the actions available.
 */
#action-column {
  height: 100%; // Spaning the entire vertical space.
  position: fixed;
  top: 0px;
  right: -500px; // hiding by default.
  width: 500px;
  overflow-x: hidden; // supposedly the element design overflow-x never happens.
  overflow-y: hidden;
  transition: 300ms;
  h2 {
    width: 100%;
    text-align: right;
    padding-right: 0.2em;
    margin-right: 0.2em;
  }
}

/**
 * Buttons for toggling  the action button should always be visible
 */
#monitor-column-toggle {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

#action-column-toggle {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1000;
}

/**
 * The main slide down tab design.
 * Here we are using a combination of
 */
.tab {
  width: 100%;
  .tab-title {
    width: 100%;
    padding-left: 0.2em;
    padding-right: 0.2em;
    margin-top: 0.4em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-bottom: 0.2em;
    font-size: 1.2em;
    i {
      position: absolute;
      right: 5px;
    }
  }

  .tab-content {
    width: auto;
    //padding-left: 5px;
    //padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 15px;
    // Default settings for input fields
    input[type='text'] {
      width: 3.5em;
    }

    .table {
      text-align: center;
    }

    .input-align {
      display: table;
      .input-row {
        display: table-row;
        .input-name {
          text-align: right;
          display: table-cell;
          padding: 0.2em;
          .input-help {
            position: absolute;
            left: 0;
            top: 100%;
            background-color: gray;
            color: black;

            display: hidden;
          }
        }
        input[type='text'] {
          display: table-cell;
          text-align: right;
        }
        .input-units {
          display: table-cell;
          text-align: left;
          padding-left: 0.2em;
        }
        input[type='range'] {
          width: 100%;
          height: 0.2em;
          text-align: right;
          margin-bottom: 0.5em;
        }
      }
    }

    .button-container {
      padding-top: 0.5em;
      width: 100%;
      text-align: center;
    }

    // Hide by default, JQuery will open required tabs on document loading.
    display: none;
    overflow: hidden;
  }
}

/**
 * The tool tips CSS design.
 * Show internal content when hovering over the main guy
 */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  .tooltip-content {
    visibility: hidden;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
}

.tooltip:hover {
  .tooltip-content {
    visibility: visible;
  }
}

/**
 * Element specific setups for the monitor column
 */
#monitor-column {
  #temperature-plot {
    width: 100%;
    height: 200px;
  }
  #voltage-plot {
    width: 100%;
    height: 200px;
  }
  #visual-tab {
    .tab-content {
      img {
        width: 100% !important;
      }
    }
    .tooltip-content {
      left: 5%;
      top: 10px;
      ul {
        padding-left: 10px;
        padding-right: 10px;
        list-style-type: none;
      }
    }
  }
}

.column {
  float: left;
  //   width: 49%;
  //   padding: 10px;
  //   // height: 300px; /* Should be removed. Only for demonstration */
}

.column-container {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}

/**
 * Specific objects of the tile layout
 */
#tileboard-view {
  width: 600px;
}
#table-view {
  max-width: 400px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 0.8em;
  table {
    th {
      max-width: 2em;
      width: 1.5em;
      vertical-align: bottom;
      text-align: center;
      span {
        -ms-writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        white-space: nowrap;
      }
      // position: block;
      // transform: rotate(270deg);
      // width:2em;
      // height: 10em;
      // font-size: 0.8em;
      // white-space: nowrap;
    }
  }
}

div.plot-container {
  display: flex;
  flex-wrap: wrap;
  width: 820px;
  margin-top: 10px;

  div.plot {
    width: 400px;
    height: 300px;
    img {
      width: 100%;
    }
  }
}

#detector-view {
  min-width: 400px;
  max-width: 600px;
}

#main-column {
  .tab-content {
    text-align: center;

    div#display-message-container {
      width: 100%;
      text-align: left;
    }

    div.monitor-plot-container {
      display: flex;
      max-height: 300px;
      div.plot {
        height: 150px;
        width: 50%;
      }
    }

    div#tile-layout-grid {
      width: 100%;
      display: grid;
      grid-template-columns: auto;
      div {
        padding-top: 5px;
        padding-bottom: 5px;
        border: black;
        border-width: 1px;
        border-style: solid;
        cursor: pointer;
      }
    }

    div#single-det-summary {
      width: 100%;
      text-align: left;
    }

    div.det-details {
      text-align: center;
      display: block;
    }
  }
}

div.det-progress-legend {
  display: flex;
  .left-limit {
    text-align: left;
    flex: 33%;
  }
  .middle-limit {
    text-align: center;
    flex: 34%;
  }
  .right-limit {
    text-align: right;
    flex: 33%;
  }
}

.legend {
  display: flex;
  div {
    width: 100px;
    text-align: center;
  }
}

div.flex-container {
  display: flex;
}

div.det-details-content {
  display: block;
  width: 100%;
  .det-name {
    width: 100%;
  }
}

.hidden {
  display: none;
}

table#session-log-table {
  display: block;
  height: 600px;
  overflow: hidden;
  overflow-y: scroll;
  //flex-direction: column-reverse;
  border: 0px;
  th {
    // Setting to top of the scroll region
    position: sticky;
    top: 0;
    // Setting color for better visibility
    background-color: lightslategray;
    color: black;
    z-index: 1;
    text-align: center;
    border: 0px;
  }
  td {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    border: 0px;
  }
  td.entry-time {
    font-family: monospace;
  }
  td.entry-msg {
    text-align: left;
    width: 600px;
  }
  .session-row-level-40 {
    .entry-time,
    .entry-level,
    .entry-name {
      background: lighten(red, 20%);
    }
  }
  .session-row-level-30 {
    .entry-time,
    .entry-level,
    .entry-name {
      background: lighten(yellow, 20%);
    }
  }
}

#session-cmd-lock-toggle {
  width: 40px;
}

#session-cmd-input {
  width: 80%;
}
input[type='text']:disabled {
  color: black;
  background-color: darken(darkgray, 20%);
}
