/**
 * This file is for specific element adjustments
 */
div[id$="-range-value"]{
  width: 1em;
  height: 3em;
  text-align: center;
  transform: translateX(50%) translateY(50%) rotate(-90deg);
}

#trigger-level-converted {
  font-size: 0.7em;
}

#device-settings {
  input[type="text"]{
    width: 12em;
  }
}

input#raw-cmd-input-text{
  margin:auto;
  width: 95%;
}

.signoff-comment-lines {
  input[type="text"].comment-text{
    width: 100%;
  }
}


/// CSS for go to top button
#goto_top_button {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

// Progress bar stuff
.progress-bar-container {
  display:flex ;
  height:1em;
  width:600px;
  border-width: thin;
  border-color:#00FF00;
  border-style: solid;
  padding: 0px;
  .progress-complete{
    height:100%;
  }
  .progress-running{
    height: 100%;
  }
  .progress-error{
    height:100%;
  }
}

input#std-calibration-boardid {
  width:20em;
  text-align: left;
}

input#sys-calib-user-id {
  width:10em;
  text-align: left;
}

input#sys-calib-user-pwd {
  width:10em;
  text-align: left;
}

input#standard-calib-user-id {
  width:10em;
  text-align: left;
}

input#standard-calib-user-pwd {
  width:10em;
  text-align: left;
}

button[id^="rerun-"]{
  padding-left: 0px;
  padding-right: 0px;
  font-size: 0.8em;
}