{# Files containing the tabs for actions. This is a simple section to unify the
interface used in the various templates #}

<!------------------------------------------------------------------------------>
{# User action tab: A display message that request the user to perform some
real-world action before continuing. #}
<!------------------------------------------------------------------------------>
{% macro user_action() %}
<div class="tab hidden" id="user-action">
  <div class="tab-title">
    <span>USER ACTION REQUIRED</span>
    <i class="fa fa=fa-angle-left"></i>
  </div>
  <div class="tab-content" id="user-action-content">
    <div id="user-action-msg"></div><br />
    <input type="text" id="user-action-input"/>
    <button id="user-action-check">Send Check</button>
  </div>
</div>
{% endmacro %}

<!------------------------------------------------------------------------------>
{# System calibration tab: Tab used for trigger a system calibration session. #}
<!------------------------------------------------------------------------------>
{% macro system_calibration() %}
<div class="tab user-action" id="system-calib">
  <div class="tab-title">
    <span>System calibrations</span>
    <i class="fa fa=fa-angle-left"></i>
  </div>
  <div class="tab-content">
    <div class="input-align" id="system-calibration-boardtype-container">
    </div>
    <div class="button-container">
      <button id="run-system-calibration" class="action-button">
        Run system calibration</button>
    </div>
    <div id="system-calib-submit-error"></div>
    <div id="system-calib-signoff-container" class="hidden">
      <hr>
      <div class="input-align">
        <div class="input-row">
          <span class="input-name">UMD ID</span>
          <span class="input-units">
            <input type="text" id="system-calib-user-id">
            </input>
          </span>
        </div>
        <div class="input-row">
          <span class="input-name">password</span>
          <span class="input-units">
            <input type="password" id="system-calib-user-pwd">
            </input>
          </span>
        </div>
      </div>
      Sign-off Notes:<button class="add-comment-line">Add line</button><br />
      <div class="signoff-comment-lines input-align">
      </div>
      <br />
      <button id="system-calib-signoff" class="action-button">Sign-off</button>
    </div>
  </div>
</div>
{% endmacro %}

<!------------------------------------------------------------------------------>
{# Standard calibration tab: Tab used for trigger a standardized tileboard
calibration session. #}
<!------------------------------------------------------------------------------>
{% macro standard_calibration() %}
<div class="tab user-action" id="standard-calib">
  <div class="tab-title">
    <span>Standard calibrations</span>
    <i class="fa fa=fa-angle-left"></i>
  </div>
  <div class="tab-content">
    <div class="input-align" id="standard-calibration-boardtype-container">
    </div>
    <div class="input-align" id="reference-system-calibration">
    </div>
    <div class="button-container">
      <button id="run-std-calibration" class="action-button">Run Tileboard
        calibration</button>
    </div>

    <div id="standard-calib-submit-error"></div>

    <div id="standard-calib-signoff-container" class="hidden">
      <hr>

      <div class="input-align">
        <div class="input-row">
          <span class="input-name">UMD ID</span>
          <span class="input-units">
            <input type="text" id="standard-calib-user-id">
            </input>
          </span>
        </div>
        <div class="input-row">
          <span class="input-name">password</span>
          <span class="input-units">
            <input type="password" id="standard-calib-user-pwd">
            </input>
          </span>
        </div>
      </div>

      Sign-off Notes:<button class="add-comment-line">Add line</button><br />
      <div class="signoff-comment-lines input-align">
      </div>
      <br />
      <button id="standard-calib-signoff" class="action-button">Sign-off</button>
    </div>
  </div>
</div>
{% endmacro %}
