{% macro headers() %}

{# All relevant files should be downloadable by the ./get_external.sh script in the main server directory.#}

{# External font/style sheets #}
<link href="{{url_for('static', filename='external/fontawesome-free-5.15.2-web/css/all.min.css')}}" rel="stylesheet" />

{# External javascript libraries #}
<script src="{{url_for('static', filename='external/js/jquery-3.6.0.min.js')}}"></script>
<script src="{{url_for('static', filename='external/js/socket.io-3.1.3.min.js')}}"></script>
<script src="{{url_for('static', filename='external/js/plotly-1.58.4.min.js')}}"></script>

{#Our own CSS stylesheet #}
<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">

{# Common javascript elements #}
<script src="{{url_for('static',filename='js/action.js')}}"></script>
<script src="{{url_for('static',filename='js/calibration.js')}}"></script>
<script src="{{url_for('static',filename='js/monitor.js')}}"></script>
<script src="{{url_for('static',filename='js/settings.js')}}"></script>
<script src="{{url_for('static',filename='js/styling.js')}}"></script>
<script src="{{url_for('static',filename='js/sync.js')}}"></script>


{% endmacro %}