{# File containing the default monitoring elements to unify the interface between
the various GUI pages. #}

<!------------------------------------------------------------------------------>
{# Basic status tab for text based session status display #}
<!------------------------------------------------------------------------------>
{% macro status_tab() %}
<div class="tab" id="real-time">
  <div class="tab-title">
    <span>System Status</span>
    <i class="fa fa=fa-angle-left"></i>
  </div>
  <div class="tab-content">
    <div class=time-container>
      <div id="up-time"></div>
      <div id="up-time-since"></div>
      <div id="session-state-text"></div>
      <div id="session-type-text"></div>
    </div>
  </div>
</div>
{% endmacro %}


<!------------------------------------------------------------------------------>
{# Tab containing the temperature monitoring tab #}
<!------------------------------------------------------------------------------>
{% macro temperature_tab() %}
<div class="tab" id="temperature-tab">
  <div class="tab-title">
    <span>Temperatures</span>
    <i class="fa fa=fa-angle-left"></i>
  </div>
  <div class="tab-content">
    <div class="plot" id="temperature-plot"></div>
  </div>
</div>
{% endmacro %}

<!------------------------------------------------------------------------------>
{# Tab containing the voltage monitoring tab #}
<!------------------------------------------------------------------------------>
{% macro voltage_tab() %}
<div class="tab" id="power-tab">
  <div class="tab-title">
    <span>Voltages</span>
    <i class="fa fa=fa-angle-left"></i>
  </div>
  <div class="tab-content">
    <div class="plot" id="voltage-plot">
    </div>
  </div>
</div>
{% endmacro %}

<!------------------------------------------------------------------------------>
{# Tab containing the visual monitoring plots #}
<!------------------------------------------------------------------------------>
{% macro visual_tab() %}
<div class="tab" id="visual-tab">
  <div class="tab-title">
    <span>Visual system</span>
    <i class="fa fa=fa-angle-left"></i>
  </div>
  <div class="tab-content">
    <div class="tooltip">
      <img src="visual" style="width:600px;" />
      <div class="tooltip-content">
        <ul style="text-align: left;">
          <li><a class="vis_failratio">Failed bounding box ratio</a></li>
          <li><a class="vis_faillumi">Failed internal luminosity cutoff</a></li>
          <li><a class="vis_failploy">Failed rectangular approximation</a></li>
          <li><a class="vis_failsize">Candidate contour (not largest)</a></li>
          <li><a class="vis_found">Found result</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

<!------------------------------------------------------------------------------>
{# Tab containing the gantry position tab #}
<!------------------------------------------------------------------------------>
{% macro gantry_tab() %}
<div class="tab" id="gantry-tab">
  <div class="tab-title">
    <span>Gantry status</span>
    <i class="fa fa=fa-angle-left"></i>
  </div>
  <div class="tab-content">
    <div id="gantry-coordinates"></div>
    <svg width="100" height="100">
      <g id="gantry-cooridnates-svg"></g>
    </svg>
  </div>
</div>
{% endmacro %}


<!------------------------------------------------------------------------------>
{# Common display elements #}
<!------------------------------------------------------------------------------>
{% macro command_progress() %}
<span class="input-name">Command progress</span>
<div class="input-units">
  <div class="progress-bar-container" id="command-progress">
    <div class="progress-complete" style="width:50%"></div>
  </div>
</div>
{% endmacro %}

{% macro session_progress() %}
<span class="input-name">Session Progress</span>
<div class="input-units">
</div>
{% endmacro %}