{# This template function mainly includes a bunch of tabes required for the
operation settings. Since difference pages will only use certain number of pages,
only the individual settings tabs will be made available#}

{% macro image_settings() %}
<div class="tab expert-action" id="imaging-settings">
  <div class="tab-title">
    <span>Image processing (EXP ONLY)</span>
    <i class="fa fa-angle-left"></i>
  </div>
  <div class="tab-content hidden">
    <div class="input-align">
      <div class="input-row">
        <span class="input-name">Threshold</span>
        <input type="text" id="image-threshold-text" />
        <span class="input-units"></span>
        <input type="range" min="0" max="255" id="image-threshold-range" />
      </div>
      <div class="input-row">
        <span class="input-name">Blur</span>
        <input type="text" id="image-blur-text" />
        <span class="input-units">Pixels</span>
        <input type="range" min="0" max="20" id="image-blur-range" />
      </div>
      <div class="input-row">
        <span class="input-name">Luminosity</span>
        <input type="text" id="image-lumi-text" />
        <span class="input-units">Pixels</span>
        <input type="range" min="0" max="255" id="image-lumi-range" />
      </div>
      <div class="input-row">
        <span class="input-name">Min. Size</span>
        <input type="text" id="image-size-text" />
        <span class="input-units">Pixels</span>
        <input type="range" min="0" max="1000" id="image-size-range" />
      </div>
      <div class="input-row">
        <span class="input-name">Max Ratio</span>
        <input type="text" id="image-ratio-text" />
        <span class="input-units">%</span>
        <input type="range" min="100" max="500" id="image-ratio-range" />
      </div>
      <div class="input-row">
        <span class="input-name">Poly rang.</span>
        <input type="text" id="image-poly-text" />
        <span class="input-units">%</span>
        <input type="range" min="0" max="20" id="image-poly-range" />
      </div>
    </div>

    <div class="button-container">
      <button id="image-settings-clear" class="action-button">Clear</button>
      <button id="image-settings-update" class="action-button">Update</button>
    </div>
  </div>
</div>
{% endmacro %}


<!------------------------------------------------------------------------------>
{# Picoscope settings: exposing a GUI element for running a custom picoset
commands #}
<!------------------------------------------------------------------------------>

{% macro picoscope_settings() %}
<div class="tab expert-action" id="picoscope">
  <div class="tab-title">
    <span>Scope settings EXP ONLY</span>
    <i class="fa fa-angle-left"></i>
  </div>
  <div class="tab-content hidden">
    <table style="text-align:center;">
      <tr>
        <td>A</td>
        <td>B</td>
        <td>Ext.</td>
      </tr>
      <tr>
        <td><input type="radio" name="trigger-channel" value="0" /></td>
        <td><input type="radio" name="trigger-channel" value="1" /></td>
        <td><input type="radio" name="trigger-channel" value="4" /></td>
        <td class="input-align">
          <div class="input-row">
            <span class="input-name">Trig.</span>
            <input type="text" id="trigger-level-text" />
            <span class="setting-unit">ADC</span>
            <span id="trigger-level-converted"></span>
            <input type="range" min="-32768" max="32767" id="trigger-level-range" />
          </div>
        </td>
      <tr>
        <td>
          <input type="range" class="vertical" orient="vertical" id="channel-a-range" min="3" max="10" /><br>
          <div id="channel-a-range-value">20V</div>
        </td>
        <td>
          <input type="range" class="vertical" orient="vertical" id="channel-b-range" min="3" max="10" /><br>
          <div id="channel-b-range-value">20V</div>
        </td>
        <td></td>
        <td class="input-align">

          <div class="input-row">
            <span class="input-name">Trig. dir.</span>
            <span class="input-units">
              <input type="radio" name="trigger-direction" value="2">
              <input type="radio" name="trigger-direction" value="3">
              <input type="radio" name="trigger-direction" value="4">
              <br>up/down/both
          </div>
          <p></p>


          <div class="input-row">
            <span class="input-name">Delay</span>
            <input type="text" id="trigger-delay" />
            <span class="input-units">x 10 ns</span>
          </div>
          <div class="input-row">
            <span class="input-name">Pre-samp.</span>
            <input type="text" id="trigger-presample" />
            <span class="input-units">-</span>
          </div>
          <div class="input-row">
            <span class="input-name">Post-samp</span>
            <input type="text" id="trigger-postsample" />
            <span class="input-units">-</span>
          </div>
          <div class="input-row">
            <span class="input-name">Num. blocks</span>
            <input type="text" id="trigger-blocksize" />
            <span class="input-units">-</span>
          </div>
        </td>
      </tr>
    </table>
    <div class="button-container">
      <button id="picoscope-settings-clear" class="action-button">Clear</button>
      <button id="picoscope-settings-update" class="action-button">Update</button>
    </div>
  </div>

</div>

{% endmacro %}

<!------------------------------------------------------------------------------>
{# DRS4 settings: exposing a GUI element for running a custom drsset commands #}
<!------------------------------------------------------------------------------>
{% macro drs_settings() %}
<div class="tab expert-action" id="drs_settings">
  <div class="tab-title">
    <span>DRS settings</span>
    <i class="fa fa-angle-left"></i>
  </div>
  <div class="tab-content hidden">
    <div class="input-align">
      <div class="input-row">
        <span class="input-name">Trigger delay</span>
        <input type="text" id="drs-triggerdelay" />
        <span class="input-units">ns</span>
      </div>
      <div class="input-row">
        <span class="input-name">Sample rate</span>
        <input type="text" id="drs-samplerate" />
        <span class="input-units">GHz</span>
      </div>
      <div class="input-row">
        <span class="input-name">Samples</span>
        <input type="text" id="drs-samples" />
        <span class="input-units">--</span>
      </div>
    </div>
    <div class="button-container">
      <button id="drs-settings-clear" class="action-button">Clear</button>
      <button id="drs-settings-update" class="action-button">Update</button>
      <button id="drs-settings-calib" class="action-button">Calib</button>
    </div>
  </div>
</div>
{% endmacro %}

<!------------------------------------------------------------------------------>
{# intensity scan settings: Modifying the default behavior for the intensity scan
part of the calibration process #}
<!------------------------------------------------------------------------------>
{% macro intensity_scan_settings() %}
<div class="tab expert-action" id="device-settings">
  <div class="tab-title">
    <span>Intensity scan Sequence</span>
    <i class="fa fa-angle-left"></i>
  </div>
  <div class="tab-content hidden">
    <div class="input-align">
      <div class="input-row">
        <span class="input-name">Total Samples</span>
        <input type="text" class="input-units" id="zscan-settings-samples" />
      </div>
      <div class="input-row">
        <span class="input-name">PWM duty cycle test points</span>
        <input type="text" class="input-units" id="zscan-settings-pwm" />
      </div>
      <div class="input-row">
        <span class="input-name">Z List (For system calib.)</span>
        <input type="text" class="input-units" id="zscan-settings-zval-dense" />
        <span class="input-units">mm</span>
      </div>
      <div class="input-row">
        <span class="input-name">Z List (For std. calib.)</span>
        <input type="text" class="input-units" id="zscan-settings-zval-sparse" />
        <span class="input-units">mm</span>
      </div>
    </div>

    <div class="button-container">
      <button id="zscan-settings-clear" class="action-button">Clear</button>
      <button id="zscan-settings-update" class="action-button">Update</button>
    </div>
  </div>
</div>
{% endmacro %}

<!------------------------------------------------------------------------------>
{# Luminosity alignment scan settings: Modifying the default behavior for the intensity scan
part of the calibration process #}
<!------------------------------------------------------------------------------>
{% macro lumi_alignment_settings() %}
<div class="tab expert-action" id="device-settings">
  <div class="tab-title">
    <span>Lumi alignment calibration Sequence (EXP ONLY)</span>
    <i class="fa fa-angle-left"></i>
  </div>
  <div class="tab-content hidden">
    <div class="input-align">
      <div class="input-row">
        <span class="input-name">Total Samples</span>
        <input type="text" class="input-units" id="lumialign-settings-samples" />
      </div>
      <div class="input-row">
        <span class="input-name">PWM duty cycle</span>
        <input type="text" class="input-units" id="lumialign-settings-pwm" />
      </div>
      <div class="input-row">
        <span class="input-name">Collection Z height</span>
        <input type="text" class="input-units" id="lumialign-settings-zval" />
        <span class="input-units">mm</span>
      </div>
      <div class="input-row">
        <span class="input-name">Horizontal Range</span>
        <input type="text" class="input-units" id="lumialign-settings-range" />
        <span class="input-units">mm</span>
      </div>
      <div class="input-row">
        <span class="input-name">Horizontal separation</span>
        <input type="text" class="input-units" id="lumialign-settings-distance" />
        <span class="input-units">mm</span>
      </div>
    </div>

    <div class="button-container">
      <button id="lumialign-settings-clear" class="action-button">Clear</button>
      <button id="lumialign-settings-update" class="action-button">Update</button>
    </div>
  </div>
</div>
{% endmacro %}