
#setting-column {
  background-color: darkblue;
  h2{
    color: white;
  }

  .tab {
    .tab-title{
      color: white;
    }
    .tab-content {
      background-color: cornflowerblue;
      color: black;
    }
  }
}

#main-column {
  background-color: orangered;
  h2{
    color: white;
  }

  .tab {
    .tab-title{
      color:white;
    }
    .tab-content{
      background-color: peachpuff;
      color:black;
    }
    //Special case for user action part
    .tab-content#user-action-content{
      background-color: lighten(red, 20);
      color:black;
    }
  }

  .plot {
    border-color: orangered;
    border-width: 2px;
    border-style: solid;
  }

  // Special case for the user ACTION part, making it read to make sure it stands
  // out
  #user-action {
    background-color: darkred;
    .tab {
    background-color: darkred;
    .tab-title{
      color:yellow;
    }
    .tab-content{
      background-color: red;
      color:black;
    }
  }
  }

}

.det-progress-legend{
  background-image: linear-gradient(to right, #C8FFC8, #00FF00);
}


.progress-error {
  background-color: #FF0000;
}

.progress-complete {
  background-color:#00FF00;
}

.progress-running {
  background-color: yellow;
}

div#tile-layout-grid {
  div {
    background-color: #64FF64;
  }
}

#action-column{
  background-color: chartreuse;
  h2{
    color:darkgreen;
  }
  .tab.user-action{
    .tab-title{
      color:black;
    }
    .tab-content{
      background-color: greenyellow;
      color:black;
    }
  }
  .tab.expert-action {
    background-color:desaturate(chartreuse, 10);
    .tab-title {
      color: lighten(black, 20);
    }
    .tab-content{
      background-color: desaturate(greenyellow, 20);
      color: lighten(black,20);
    }
  }
}



